<%= javascript_include_tag 'rounds.js'%>
<%if @rounds.count > 0%>
<h1>Rounds</h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <%@rounds.each do |round_number, round|%>
      <li id="#tab<%=round_number%>" class=<%='active' if round_number == @selected%>>
        <a data-toggle="tab">Round <%=round_number%></a>
      </li>
    <%end%>
  </ul>
  <div class="tab-content">
    <%@rounds.each do |round_number, round|%>
      <div id="tab<%=round_number%>" class="tab-pane <%='active' if round_number == @selected%>">
        <table class="table">
          <thead>
            <tr>
              <th>Gov</th>
              <th>Opp</th>
              <th>Judge</th>
              <th>Room</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%round.each do |b|%>
              <%if b.results_released%>
                <tr>
                  <td class="<%=(b.winner_id == b.gov_id) ? 'winner' : 'loser' %>">
                    <%=b.gov.name%>
                  </td>
                  <td class="<%=(b.winner_id == b.opp_id) ? 'winner' : 'loser' %>">
                    <%=b.opp.name%>
                  </td>
                  <td><%=b.judge.name%></td>
                  <td><%=b.room%></td>
                  <td><%=link_to "View Ballot", "/ballot/#{b.id}"%></td>
                </tr>
              <%else%>
                <tr>
                  <td><%=b.gov.name%></td>
                  <td><%=b.opp.name%></td>
                  <td><%=b.judge.name%></td>
                  <td><%=b.room%></td>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    <%end%>
  </div>
</li>
<%else%>
<div class="text-center">
  Hang in there. Pairings will be released shortly. While you wait, here's a scottie dog.
  <img src="http://www.terrificpets.com/images/uploads/breeds_07249140343494_1.jpg">
</div>
<%end%>
