<h1>New Ballot</h1>

<%=form_tag "/admin/create_ballot", :method => "post", :class => "" do%>
  <div class="form-inline">
    <div class="controls form-group">
      <%= label_tag "Gov" %>
      <%= select_tag  "ballots[1][gov]", options_from_collection_for_select(@teams, "id", "name"), :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag "Opp" %>
      <%= select_tag  "ballots[1][opp]", options_from_collection_for_select(@teams, "id", "name"), :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag "judge" %>
      <%= select_tag  "ballots[1][judge]", options_from_collection_for_select(@judges, "id", "name"), :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag "Higher Plane", :class => "btn btn-primary" %>
  </div>
<%end%>