<%= javascript_include_tag 'rounds.js'%>

<h1>Round Report</h1>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <%@rounds.each do |round_number, round|%>
      <li id="#tab<%=round_number%>" class=<%='active' if round_number == @selected%>>
        <a data-toggle="tab">Round <%=round_number%></a>
      </li>
    <%end%>
  </ul>
  <div class="tab-content">
    <%@rounds.each do |round_number, round|%>
      <div id="tab<%=round_number%>" class="tab-pane <%='active' if round_number == @selected%>">
        <table class="table">
          <thead>
            <tr>
              <th>Gov</th>
              <th>PM</th>
              <th>PM Speaks</th>
              <th>MG Speaks</th>
              <th>Opp</th>
              <th>LO</th>
              <th>LO Speaks</th>
              <th>MO Speaks</th>
              <th>Winner</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%round.each do |b|%>
              <tr>
                <td><%=b.gov.name%></td>
                <td><%=b.pm_id.nil? ? "" : User.find(b.pm_id).name %></td>
                <td><%=b.pm_speaks%></td>
                <td><%=b.mo_speaks%></td>
                <td><%=b.opp.name%></td>
                <td><%=b.lo_id.nil? ? "" : User.find(b.lo_id).name %></td>
                <td><%=b.lo_speaks%></td>
                <td><%=b.mo_speaks%></td>
                <td><%=b.winner.nil? ? "" : "#{b.winner.name + " " + b.winner_side}" %></td>
                <td><%=link_to "Show", "/ballot/edit/#{b.id}" %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <href "relese round"/>
      </div>
    <%end%>
  </div>
</li>